/* Body Styling */

html, body {
  background: #ffde59;
  height: 100%;
  width: 100%;
  padding: 0;
  margin: 0;
  text-align: center;
  font-family: "SF Mono","Fira Code","Fira Mono","Roboto Mono", monospace;
  color: black;
}


/* Nav Bar Styling */

#navbar {
  height: 50px;
  position: fixed;
  width: 100%;
  top: 0px;
  background: #ffde59;
  z-index: 1;
}


#logo {
  width: 65px;
  position: fixed;
  left: 30px;
  top: 30px;
  z-index: 1000;
}

.navbar-links {
  margin-top: 2%;
  margin-right: 3%;
  text-decoration: none;
  color: black;
  font-weight: 540;
  float: right;
}

.navbar-links:hover {
  color: #61B329;
}

#menu {
  width: 100%;
  height: 100vh;
  z-index: 9999;
  position: absolute;
  overflow-y: scroll;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

.menu-link-divs {
  width: 100%;
  height: 16.5%;
  background-color: #ffde59;
  border: solid;
  display: flex;
  justify-content: center;
}

.menu-link-divs:hover {
  background-color: black;
}

.menu-links {
  text-decoration: none;
  font-size: 50px;
  color: black;
  margin-top: 3%;
}

.menu-links:hover {
  color: #ffde59;
  background-color: black;
}


/* General Container Styling  */

.containers {
  position: absolute;
  top: 140px;
  width: 80%;
  margin-left: 10%;
  margin-right: 10%;
  margin-bottom: 5%;
  text-align: center;
}


/* General Component Styling  */

.components {
  margin-top: 5%;
  margin-left: 15%;
  margin-right: 10%;
  width: 70%;
}


/* General Text Styling */

.h1 {
  font-weight: 600;
  font-size: 120px;
  margin: 0px;
  font-family: "Calibre","San Francisco","SF Pro Text",-apple-system,system-ui,sans-serif;
}

.h2 {
  font-size: 60px;
  margin: 0px;
  font-family: "Calibre","San Francisco","SF Pro Text",-apple-system,system-ui,sans-serif;
}

.h2-standard {
  font-size: 25px;
  margin: 0px;
}

.h3 {
  font-size: 20px;
  margin: 0%;
}

.h4 {
  margin: 0%;
}

.h5 {
  margin: 0%;
}

.p {
  font-size: 25px;
  margin-top: 0px;
  font-family: prestige-elite-std, monospace;
}

.p#intro {
  font-family: "Calibre","San Francisco","SF Pro Text",-apple-system,system-ui,sans-serif;
  text-decoration: none;
  color: black;
}


/* General Button Styling */

.icons {
  width: 10%;
  margin-top: 5%;
}

.icons:hover {
  color: #61B329;
}

#social-links-div {
  position: fixed;
  left: -200px;
  bottom: 5%;
  z-index: 1;
  margin-top: 100px;
}


.buttons {
  font-family: "SF Mono","Fira Code","Fira Mono","Roboto Mono", monospace;
  font-weight: bold;
  font-size: 20px;
  background: black;
  color: #ffde59;
  width: 100px;
  height: 50px;
  border: solid;
  border-color: black;
  border-radius: 5px;
  outline: none;
}

.buttons:hover {
  color: #61B329;
  cursor: pointer;
}

.about-buttons {
  position: absolute;
  height: 30px;
  margin-top: 30px;
  margin-bottom: 100px;
  left: 40%;
  outline: none;
}

.close-buttons {
  background: none;
  border: none;
  outline: none;
  font-size: 50px;
  position: absolute;
  color: white;
  right: 0;
  top: 8%;
  color: #61B329;
  z-index: 4;
}

#menu-button {
  background: #ffde59;
  border: none;
  outline: none;
  font-size: 50px;
  position: fixed;
  top: 5%;
  right: 5%;
}

#menu-button:hover {
  color: #61B329;
  cursor: pointer;
}

.expand-buttons {
  width: 20%;
  height: 20%;
  min-width: 60px;
  color: black;
  background: none;
  border: none;
  outline: none;
  margin-top: 2%;
  font-size: 15px;
}

#get-in-touch {
  width: 200px;
}

.small-buttons {
  margin-left: 2%;
  margin-right: 2%;
}


/* Home Styling */

#home-div {
  text-align: left;
  margin-left: 100px;
  margin-top: 50px;
  width: 75%;
}

#hi-there {
  margin-left: 10px;
}

/* About Styling */

.p#about {
  font-size: 20px;
  text-align: justify;
}

#profile-picture {
  width: 35%;
  height: 35%;
  border-radius: 10px;
  float: right;
  margin-left: 50px;
  margin-bottom: 50px;
}

#photo-grid-div {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.photo-grid-divs {
  display: flex;
  width: 30%;
  margin-left: 1%;
  margin-right: 1%;
  margin-bottom: 2%;
  justify-content: center;
  align-items: center;
  min-width: 200px;
  min-height: 200px;
}

.photo-grid-text {
  position: absolute;
  width: 150px;
  color: white;
  font-weight: 800;
  font-size: 30px;
}

.photo-grid-text:hover {
  z-index: 3;
}

.photo-grid-photos {
  width: 100%;
  height: 100%;
  border-radius: 10px;
  filter: grayscale(1.0);
}

.photo-grid-photos:hover {
  filter: none;
}

/* Demo Styling */

#projects-grid {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}

.project-divs {
  border-radius: 10px;
  margin: 2%;
  border: solid;
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 40%;
  min-width: 200px;
}

.project-div-headers {
  color: black;
  height: 10%;
  text-decoration: none;
  margin-bottom: 5%;
}

.project-blurb {
  margin: 5%;
  height: 40%;
}

.project-screenshots {
  width: 95%;
  border-radius: 10px;
}

.project-divs:hover {
  color: #61B329;
  cursor: pointer;
}

.outside-project-containers {
  width: 100%;
  display: flex;
  margin-top: -60px;
}

.project-containers {
  padding-left: 3%;
}

.video-player-background {
  width: 100vw;
  height: 100vh;
  background-color: black;
  position: fixed;
  left: 0;
  top: 0;
  z-index: 4;
}

.video-containers {
  position: absolute;
  width: 50%;
  left: 25%;
  top: 20%;
  background: white;
  z-index: 5;
}

#project-github-icon {
  width: 100%;
}


/* Contact Styling  */

.contact-icons {
  width: 100%;
  max-width: 70px;
  min-width: 50px;
  margin-left: 30px;
  margin-right: 30px;
}

.contact-icons:hover {
  color: #61B329;
  cursor: pointer;
}

#contact-div {
  display: flex;
  justify-content: space-evenly;
  padding-left: 100px;
  padding-right: 100px;
}


/* Resume Styling */

#resume-div {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}

.resume-headings {
  height: 10%;
  margin-top: 10%;
  margin-bottom: 10%;
}


.resume-divs {
  margin-left: 1%;
  margin-right: 1%;
  margin-bottom: 2%;
  width: 40%;
  border: solid;
  border-radius: 10px;
  padding: 20px;
  display: inline-block;
  min-width: 200px;
}

.resume-divs:hover {
  color: #61B329;
  cursor: pointer;
}

.resume-blurbs {
  height: 40%;
}

.resume-bullet-points-div {
  text-align: justify;
  margin: 5%;
}

.resume-bullet-points {
  margin: 0.5%;
}

.full-resume-divs {
  width: 80%;
  margin-left: 10%;
  margin-right: 10%;
  justify-content: center;
}

.individual-resume-divs {
  margin-top: 5%;
  border: solid;
  border-radius: 10px;
  padding: 2%;
  padding-top: 5%;
  padding-bottom: 5%;
}

.individual-resume-divs-headers {
  margin-bottom: 2%;
}

.indented {
  text-decoration: none;
  color: black;
}

.resume-bullet-points.indented {
  margin-left: 5%;
}

#skills-div {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}

.skills-divs {
  margin-left: 1%;
  margin-right: 1%;
  margin-bottom: 2%;
  width: 30%;
  border: solid;
  border-radius: 10px;
  padding: 20px;
}

#PDF-link {
  text-decoration: none;
  color: black;
}

/* Animation Styling  */

.one-second-animation {
  animation: fadeIn ease 1s;
  -webkit-animation: fadeIn ease 1s;
  -moz-animation: fadeIn ease 1s;
  -o-animation: fadeIn ease 1s;
  -ms-animation: fadeIn ease 1s;
}

.three-second-animation {
  animation: fadeIn ease 3s;
  -webkit-animation: fadeIn ease 3s;
  -moz-animation: fadeIn ease 3s;
  -o-animation: fadeIn ease 3s;
  -ms-animation: fadeIn ease 3s;
}

.five-second-animation {
  animation: fadeIn ease 5s;
  -webkit-animation: fadeIn ease 5s;
  -moz-animation: fadeIn ease 5s;
  -o-animation: fadeIn ease 5s;
  -ms-animation: fadeIn ease 5s;
}

.seven-second-animation {
  animation: fadeIn ease 7s;
  -webkit-animation: fadeIn ease 7s;
  -moz-animation: fadeIn ease 7s;
  -o-animation: fadeIn ease 7s;
  -ms-animation: fadeIn ease 7s;
}

.nine-second-animation {
  animation: fadeIn ease 9s;
  -webkit-animation: fadeIn ease 9s;
  -moz-animation: fadeIn ease 9s;
  -o-animation: fadeIn ease 9s;
  -ms-animation: fadeIn ease 9s;
}

.ten-second-animation {
  animation: fadeIn ease 10s;
  -webkit-animation: fadeIn ease 10s;
  -moz-animation: fadeIn ease 10s;
  -o-animation: fadeIn ease 10s;
  -ms-animation: fadeIn ease 10s;
}


/* Key Frames */

@keyframes fadeIn {
  0% {opacity:0;}
  40%{opacity:0}
  100% {opacity:1;}
}
  
@-moz-keyframes fadeIn {
  0% {opacity:0;}
  40%{opacity:0}
  100% {opacity:1;}
}

@-webkit-keyframes fadeIn {
  0% {opacity:0;}
  40%{opacity:0}
  100% {opacity:1;}
}

@-o-keyframes fadeIn {
  0% {opacity:0;}
  40%{opacity:0}
  100% {opacity:1;}
}

@-ms-keyframes fadeIn {
  0% {opacity:0;}
  40%{opacity:0}
  100% {opacity:1;}
}