/* Body Styling */

html, body {
  background: #ffde59;
  height: 100%;
  width: 100%;
  padding: 0;
  margin: 0;
  text-align: center;
  font-family: "SF Mono","Fira Code","Fira Mono","Roboto Mono", monospace;
  color: black;
}


/* Nav Bar Styling */

#navbar {
  height:50px;
  position: absolute;
  width: 100%;
  top: 0px;
}

.navbar-links {
  margin-top: 20px;
  margin-right: 80px;
  text-decoration: none;
  color: black;
  font-weight: 540;
  float: right;
}

.navbar-links:hover {
  opacity: 50%
}


/* General Container Styling  */

.containers {
  position: absolute;
  top: 150px;
  width: 94%;
  margin-left: 4%;
  margin-right: 4%;
  text-align: center;
}


/* General Component Styling  */

.components {
  margin-top: 50px;
  margin-left: 300px;
  margin-right: 300px;
}


/* General Text Styling */

.h1 {
  font-weight: 600;
  font-size: 120px;
  margin: 0px;
  font-family: "Calibre","San Francisco","SF Pro Text",-apple-system,system-ui,sans-serif;
}

.h2 {
  font-size: 60px;
  margin: 0px;
  font-family: "Calibre","San Francisco","SF Pro Text",-apple-system,system-ui,sans-serif;
}

.p {
  font-size: 25px;
  margin-top: 0px;
  font-family: prestige-elite-std, monospace;
}

.p#intro {
  font-family: "Calibre","San Francisco","SF Pro Text",-apple-system,system-ui,sans-serif;
  text-decoration: none;
  color: black;
}


/* General Button Styling */

.icons {
  width: 35px;
  margin-top: 30px;
}

.icons:hover {
  opacity: 50%;
}

#social-links-div {
  position: absolute;
  left: 30px;
  bottom: 100px;
}

#logo {
  width: 100px;
  position: absolute;
  left: 30px;
  top: 30px;
}

.buttons {
  margin-top: 40px;
  font-family: "SF Mono","Fira Code","Fira Mono","Roboto Mono", monospace;
  font-weight: bold;
  font-size: 20px;
  background: black;
  color: #ffde59;
  width: 200px;
  height: 50px;
  border: solid;
  border-color: black;
  border-radius: 5px;
}

.buttons:hover {
  opacity: 50%;
  cursor: pointer;
}

.about-buttons {
  width: 75px;
  height: 30px;
  padding: 0px;
  margin: 0px;
}


/* Home Styling */

#home-div {
  text-align: left;
  margin-left: 200px;
}

#hi-there {
  margin-left: 10px;
}

/* About Styling */

.p#about {
  font-size: 25px;
  text-align: justify;
}

#profile-picture {
  width: 35%;
  height: 35%;
  border-radius: 10px;
  float: right;
  margin-top: 10px;
  margin-left: 50px;
  margin-bottom: 50px;
}

#photo-grid-div {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}

.photo-grid-photos {
  margin-left: 1%;
  margin-right: 1%;
  margin-bottom: 2%;
  width: 20%;
  border-radius: 10px;
}

.photo-grid-photos:hover {
  opacity: 80%;
  cursor: pointer;
}

/* Demo Styling */

#projects-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.project-divs {
  border-radius: 10px;
  margin: 2%;
  background:#f8f4e3;
  padding: 20px;
  position: relative;
}

.project-div-headers {
  color: black;
}

.project-blurb {
  margin: 5%;
}

.project-screenshots {
  width: 90%;
  border-radius: 10px;
}

.project-screenshots:hover {
  opacity: 80%;
  cursor: pointer;
}

.project-containers {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-bottom: 3%;
  background:#f8f4e3;
  border-radius: 10px;
  width: 50%;
  padding: 3%;
}

/* Contact Styling  */

.contact-icons {
  width: 100px;
}

.contact-icons:hover {
  opacity: 50%;
  cursor: pointer;
}

#contact-div {
  margin-top: 100px;
  display: flex;
  justify-content: space-evenly;
  padding-left: 100px;
  padding-right: 100px;
}

/* Resume Styling */

#resume-div {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}

.resume-divs {
  margin-left: 1%;
  margin-right: 1%;
  margin-bottom: 2%;
  background:#f8f4e3;
  width: 40%;
  border-radius: 10px;
  padding: 10px;
}

.expand:hover {
  opacity: 50%;
  cursor: pointer;
}